# Untracked files:

script/cropperjs/
fonts/fontawesome/
node_modules/
CDN
vendor/
logs/
.well-known/


websocket-server/certificate.pem
websocket-server/private-key.pem
websocket-server/server.js
setup/config.php

package-lock.json

